{{define "start_list.html"}}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/assets/bulma.min.css">
	<title></title>
</head>
<body>
	<div class="container">
		<br>
		{{ if .role }}
			<p> Hello, admin</p><br>
			<form enctype="multipart/form-data" method="post">
				<p>Загрузите таблицу</p>
				<p><input type="file" name="file">
				<input type="submit" value="Отправить"></p>
			</form>
		{{ else }}
			<p> Hello, man</p>
		{{ end }}
	</div>
</body>
</html>
{{end}}